.wrapper {
  position: relative;
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  color: #fff;
  border-radius: 10px;
  padding: 50px 40px;
  text-align: center;
  display: flex;
  align-items: center;
  transition: height 0.2s ease;
  overflow: hidden;
}
.form-box {
  flex: 1;
  width: 80%;
}
form h1 {
  font-size: 36px;
  text-align: center;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 40px;
  background-color: #0171d3;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.wrapper.active {
  height: 500px;
}

.wrapper .forgot {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #0b3256;
  margin-top: 8px;
}

.wrapper .register-link {
  font-size: 16px;
  text-align: center;
  margin: 20px 0 15px;
}

.wrapper .form-box.register {
  transition: translate 0.18s ease;
  translate: 0;
}

.wrapper.active .form-box.login {
  transition: none;
  translate: -400px;
}

.wrapper .form-box.register {
  position: absolute;
  translate: 400px;
}

.wrapper.active .form-box.register {
  transition: translate 0.18s ease;
  translate: 0;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.line {
  display: inline-block;
  border-bottom: solid 1px #333;
  width: 45%;
}

.center {
  color: #333;
  margin: 0 5px;
  font-size: 16px;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 15px;
  border-radius: 40px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  margin-top: 15px;
  background-color: #fff;
}

.google {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  background-image: url(../image/google.svg);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 3px;
  background-position-x: 5%;
}
