.head-cart {
  background-color: #e5771f;
  color: white;
  padding: 10px 20px;
  margin-top: 70px;
  max-width: 1300px;
  margin: 70px auto;
}

.head-cart .row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.head-cart .col {
  flex: 1;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-list {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

.cart-checkbox {
  flex-basis: 5%;
  text-align: center;
}

.cart-product {
  display: flex;
  flex-basis: 40%;
  align-items: center;
}

.product-img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.product-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details {
  flex: 1;
}

.product-details p {
  margin: 0;
}

.product-remain {
  margin-top: 5px;
}

.cart-price {
  flex-basis: 15%;
  text-align: center;
}

.count-container {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-container button {
  padding: 5px;
  width: 30px;
  height: 30px;
}

.cart-total {
  flex-basis: 15%;
  text-align: center;
  color: #ee4d2d;
}

.cart-action {
  max-width: 1300px;
  margin: 0 auto;
}

.cart-container {
  max-width: 1300px;
  margin: 0 auto;
}

.body-cart {
  max-width: 1300px;
  margin: -60px auto;
  padding: 10px 0;
}

.payment-cart {
  background-color: #76c7ad;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
  margin-bottom: 50px;
  max-width: 1300px;
  margin: 20px auto;
}

.empty-cart {
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
}

.tick-all {
  display: flex;
  gap: 20px;
}

.product-name {
  padding-right: 50px;
}

.shop-section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.shop-name {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}

.cart-price,
.product-remain,
.calc-count {
  text-align: center;
}

.calc-count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-danger {
  font-weight: bold;
  color: red;
}
