.koi-statis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 70px;
}

.koi-choose-form {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: orange;
  padding: 20px;
  border-radius: 8px;
}

.koi-choose-form select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

h1 {
  margin-bottom: 10px;
}

.koi-chart-container {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.koi-chart-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.koi-chart-controls label {
  margin-right: 10px;
}
