.fish-management-container {
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.fish-list-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.create-fish-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-fish-button:hover {
  background-color: #0056b3;
}

.search-fish-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-fish-form input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.search-button:hover {
  background-color: #0056b3;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.fish-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

.fish-table th:nth-child(1) {
  width: 17%;
  text-align: center;
}
.fish-table th:nth-child(2) {
  width: 8%;
  text-align: center;
}
.fish-table th:nth-child(3) {
  width: 14%;
  text-align: center;
}
.fish-table th:nth-child(4) {
  width: 17%;
  text-align: center;
}
.fish-table th:nth-child(5) {
  width: 17%;
  text-align: center;
}
.fish-table th:nth-child(6) {
  width: 10%;
  text-align: center;
}
.fish-table th:nth-child(7) {
  width: 10%;
  text-align: center;
}
.fish-table th:nth-child(8) {
  width: 24%;
  text-align: center;
}

.fish-table td,
.fish-table th {
  border: 1px solid #ddd;
  padding: 12px 8px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fish-table th {
  background-color: #f4f4f4;
  font-size: 18px;
  font-weight: bold;
}

.fish-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.fish-table tr:hover {
  background-color: #f1f1f1;
}

.fish-table button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.fish-table button:hover {
  background-color: #0056b3;
}

.fish-table button + button {
  margin-left: 10px;
  background-color: #dc3545;
}

.fish-table button + button:hover {
  background-color: #c82333;
}

.action-buttons {
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.fish-table button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  min-width: 70px;
}
