.pond-statis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 70px;
}

.pond-choose-form {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: orange;
  padding: 20px;
  border-radius: 8px;
}

.pond-choose-form h1 {
  margin-bottom: 10px;
}

.pond-choose-form select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.pond-chart-container {
  width: 1000px;
  height: 600px;
  margin: 20px auto;
  margin-bottom: 200px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
