.pond-statis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 70px;
}

.pond-choose-form {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: orange;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.pond-chart-container {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}
