@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #f9f3ec;
  height: 100px;
}

.header_logo img {
  width: 148px;
  height: auto;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 50px;
}

.nav_list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav_list li a {
  text-decoration: none;
  color: black;
  font-family: "Chilanka", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}

.nav_list li a:hover {
  color: #dead6f;
}

.nav_icons_header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon_header {
  font-size: 34px;
  color: black;
  margin-right: 50px;
}

.icon_header:hover {
  color: #dead6f;
}
