.dropdown-aqua {
  position: relative;
  display: inline-block;
}

/* .dropdown-aqua-button {
  padding: 4px 8px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #0ab066;
  color: #fff;
} */

.dropdown-aqua-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  background: linear-gradient(135deg, #4cc9f0, #0096c7);
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: background 0.3s ease-in-out;
}

/* Wavy water effect */
.dropdown-aqua-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 20%,
    transparent 20%
  );
  background-size: 20px 20px;
  animation: wave 4s infinite linear;
  opacity: 0.5;
  transform: translateX(-50%);
}

.dropdown-aqua-button:hover {
  background: linear-gradient(135deg, #0096c7, #4cc9f0);
}

/* Wave animation */
@keyframes wave {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-20px);
  }
}

.dropdown-content-aqua {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-aqua:hover .dropdown-content-aqua {
  display: block;
}

.dropdown-pool {
  padding: 5px 0;
  cursor: pointer;
}

.calc-salt {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #fff;
  color: #000;
  border-color: #007bff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  width: fit-content;
  align-self: center;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  margin-bottom: 20px;
  display: inline-block;
}

.calc-salt:hover {
  background-color: #2ab67e;
}

.aquarium-container {
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  background-color: #68bfed;

  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.aquarium-title {
  margin-bottom: -12px;
  margin: 0 auto;
}

.aqua-details {
  text-align: center;
  font-size: 18px;
}

.loader {
  width: 40%;
  height: 20px;
  margin: 0 auto;
  background: linear-gradient(90deg, #0000, orange) left -50px top 0/50px 20px no-repeat
    lightblue;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  100% {
    background-position: right -50px top 0;
  }
}

.buttons-salt {
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.dropdown-content-aqua div:hover {
  background-color: #f1f1f1;
  color: #333;
}

.calc-salt.disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.calc-salt.disabled:hover {
  background-color: #333;
}
