.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.create-aquarium-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-aquarium-button:hover {
  background-color: #0056b3;
}

.search_aqua_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search_aqua_form input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.search_aqua_form .search-button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.search_aqua_form .search-button:hover {
  background-color: #0056b3;
}

.aquarium_list_container {
  width: 60%;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.aquarium_list_title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.aquarium_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.aquarium_table th,
.aquarium_table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

.aquarium_table th {
  background-color: #f4f4f4;
  font-size: 18px;
  font-weight: bold;
}

.aquarium_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.aquarium_table tr:hover {
  background-color: #f1f1f1;
}

.aquarium_table button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.aquarium_table button:hover {
  background-color: #0056b3;
}

.aquarium_table button + button {
  margin-left: 10px;
  background-color: #dc3545;
}

.aquarium_table button + button:hover {
  background-color: #c82333;
}
