.products {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 30px;
}

.products li {
  margin: 20px;
  flex: 1;
  text-align: center;
}

.product_title {
  font-size: 20px;
  margin: 20px 100px;
}
